.logo {
    width: 25px;
    height: auto;
}

.nav-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color:black;
    font-weight: bold;
    text-shadow: 2px 2px white;
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-color: aqua;
    min-height: 50%;
    color: aliceblue;
    text-shadow: 2px 2px black;
    height: 250px;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.artwork {
    width: 30%;
    margin: 1rem auto;
}
.img-fanart {
    width: 100%;
    height: 100%;
}

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 600px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .nav-link {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    /* Adjust header font size for smaller screens */
    .w3-jumbo,
    .w3-xxlarge,
    header .w3-display-left span[style*="xx-large"] {
        font-size: large !important; /* Adjust font size as needed */
    }

    #twitch-embed {
        height: 300px; /* Adjust height for smaller screens */
    }

}